.section__videos #participants {
    display: flex;
    flex-flow: row wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}

.section__videos .video {
    flex: 1 0 30%;
    margin: 1rem;
}

.section__videos .video:not(.live):hover {
    cursor: pointer;
    border: 3px solid #ffa513;
}
