html, body, * {
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
}

body {
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background: url(../images/background.jpg) no-repeat right;
    background-size: cover;
}

header {
    border-bottom: 2px solid #52882f;
}
header, footer {
    padding: 1rem;
}
footer {
    color: #000;
    background-color: rgba(82, 136, 47, 0.7);
}

header h1 {
    margin: 0;
    color: #52882f;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

main {
    flex: 1;
}

main section {
    margin-top: 2rem;
}
main section:last-child {
    margin-bottom: 2rem;
}

video {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
}

.button-big {
    font-size: 3rem;
    border: 3px solid #000;
    color: #000;
    background-color: rgba(155, 192, 72, 0.7);
    padding-left: 2rem;
    padding-right: 2rem;
}
.button-big:hover {
    cursor: pointer;
    color: #fff;
    background-color: #52882f;
}

.section__options {
    text-align: center;
}
.section__start-btn {
    text-align: center;
}

.advanced-options {
    display: none;
}
.advanced-options.show {
    display: block;
}

.video {
    position: relative;
    background: repeating-linear-gradient(
            45deg,
            rgba(155, 192, 72, 0.5),
            rgba(155, 192, 72, 0.5) 10px,
            rgba(255, 255, 255, 0.3) 10px,
            rgba(255, 255, 255, 0.3) 20px
    );
}

.video.live {
    border: 3px solid #f00;
}
.video.live:after {
    content: 'LIVE';

    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: inline-block;
    color: #f00;
    border: 3px solid #f00;
    padding: 0.25em;
    font-weight: bold;
    background-color: #fff;

    animation: blink 2s linear infinite;
}

.section__description {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
}

.hidden {
    display: none !important;
}
